mixin banner()
  section.banner
    .container
      .banner__overlay
      .banner__content
        h1.banner__title Услуг много - платеж один!
        p.banner__tariifs-text 0 рублей - первый месяц
        img.banner__tariffs-img(src="assets/img/banner-tariffs.png", alt="icon")