header.header
  .header-container
    .header__content
      a(href="/#").header__logo-wrapper
        include ../../assets/icons/header-logo.svg
      .header__right-column
        nav.header__navigation
          a(href="#").header__link Мобильная связь
          a(href="#").header__link Интернет
          a(href="#").header__link Телевидение
          a(href="#").header__link Домофон
          a(href="#").header__link Видеонаблюдение

        a(href='#').header__icon-wrapper
          include ../../assets/icons/loop.svg
        a(href="#").button.header__button-contact Стать абонентом

